name: build
on:
  schedule:
    - cron: "45 00 * * 3"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  workflow_dispatch:

env:
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-22.04
    if: always() && !cancelled()
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout Push to Registry action
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup environment variables
        id: setup-env-vars
        shell: bash
        run: |
          echo "BASE_IMAGE=$(jq -r '.base_image' config/config.json)" >> $GITHUB_ENV
          echo "BASE_IMAGE_TAG=$(jq -r '.base_image_tag' config/config.json)" >> $GITHUB_ENV
          echo "DESCRIPTION=$(jq -r '.description' config/config.json)" >> $GITHUB_ENV

      - name: Generate image tags
        id: generate-image-tags
        shell: bash
        run: |
          TIMESTAMP="$(date +%Y%m%d-%H%M%S)"
          echo "TIMESTAMP=$TIMESTAMP" >> $GITHUB_ENV
          DATE="$(echo ${TIMESTAMP} | cut -d '-' -f 1)"
          echo "DATE=$DATE" >> $GITHUB_ENV
          BUILD_TAGS=( "latest" "${TIMESTAMP}" "${DATE}")
          echo "alias_tags=${BUILD_TAGS[*]}" >> $GITHUB_OUTPUT

      - name: Define Image Metadata
        id: define-image-metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.event.repository.name }}
          labels: |
            io.artifacthub.package.readme-url=https://raw.githubusercontent.com/cubt85iz/${{ github.event.repository.name }}/main/README.md
            org.opencontainers.image.description="${{ env.DESCRIPTION }}"
            org.opencontainers.image.source = "https://github.com/cubt85iz/automatos-daedalus"
            org.opencontainers.image.title=${{ github.event.repository.name }}
            org.opencontainers.image.version=${{ env.DATE }}

      - name: Build Image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: |
            ./core/Containerfile
          context: .
          image: ${{ github.event.repository.name }}
          tags: |
            ${{ steps.generate-image-tags.outputs.alias_tags }}
          build-args: |
            BASE_IMAGE=${{ env.BASE_IMAGE }}
            BASE_IMAGE_TAG=${{ env.BASE_IMAGE_TAG }}
            ROOT=core

          labels: ${{ steps.define-image-metadata.outputs.labels }}
          oci: false

      # Push the image to GHCR (Image Registry)
      - name: Push To GHCR
        uses: redhat-actions/push-to-registry@v2
        id: push
        env:
          REGISTRY_USER: ${{ github.actor }}
          REGISTRY_PASSWORD: ${{ github.token }}
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --disable-content-trust

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Sign container
      - uses: sigstore/cosign-installer@v3.2.0
        if: github.event_name != 'pull_request'

      - name: Sign container image
        if: github.event_name != 'pull_request'
        run: |
          cosign sign -y --key env://COSIGN_PRIVATE_KEY ${{ env.IMAGE_REGISTRY }}/${{ steps.build_image.outputs.image }}@${TAGS}
        env:
          TAGS: ${{ steps.push.outputs.digest }}
          COSIGN_EXPERIMENTAL: false
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}

      - name: Echo outputs
        #if: github.event_name != 'pull_request'
        run: |
          echo "${{ toJSON(steps.push.outputs) }}"
